:root{
    --button-color: rgb(63 113 207);
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    margin-top: 6em;
    background-color: rgb(196, 196, 196);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button{
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 0.75em 1em;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
}

.button:hover{
    background-color: rgb(173, 173, 173);
}

.navigation{
    display: flex;
    background-color: white;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.navigation ul{
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    line-height: 2rem;
}


.navigation .right{
    display: flex;
    justify-content: center;
    align-items: center;
}


.navigation .right button{
    padding: 0.5em;
}

.page-container{
    top:0;
    left:0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.form-container{
    --colour: #09162e;
    display: block;
    margin-inline: auto;
    width: 800px;
}

.form-container .header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colour);
    height: 9em;
    border-radius: 10px 10px 0px 0px;
}

.form-container .header i{
    color: var(--colour);
    font-size: 2.5rem;
    text-align: center;
    background-color: white;
    padding: 0.5em;
    border-radius: 50%;
}

.auth {    
    display: flex;
    flex-direction: column;
    padding: 1.5em 4em;
    background: white;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
}

.auth .alert{
    margin-block: 1.5em;
    position: relative;
    box-sizing: border-box;
    padding: 0.8em 1em;
    width: 100%;
    border: 2px solid rgb(255, 204, 110);
}

.hidden{
    display: none;
}

.auth .alert:after{
    top:0;
    left:0;
    content: "";
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 204, 110);
}

.auth h1{
    margin-top: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.auth input{   
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-block: 0.4em;
    width: 100%;
    font-size: 1.3rem;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 2px solid rgb(197, 197, 197);
}

.auth .first_name_input, .auth .password_input{
    margin-right: 2em;
}


.auth input:hover{
    background-color: #e9e9e9;
    border-radius: 5px;
    border: 0px;
    border-bottom: 2px solid rgb(197, 197, 197);
}

.auth .login-button{
    padding: 1em;
    margin-top: 2em;
    color: white;
    background-color: var(--colour);
}

.auth .login-button:hover{
    color: white;
    background-color: rgb(12, 33, 97);
}

.auth .input-group{
    display: flex;
}

.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #666;
}

h3 {
    font-weight: normal;
    text-align: center;
}

.content{
    padding: 3em;
    margin-inline: auto;
    background-color: rgb(231, 231, 231);
    width: 60%;
    margin-bottom: 3em;
}

.content h2{
    margin-bottom: 2em;
}

.orders{
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.orders .button{
    border: 0;
    border-radius: 0;
    color: rgb(255, 255, 255);
    background-color: var(--button-color);
}

.orders .button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(95, 95, 95);
}


.orders form {
    box-sizing: content-box;
    padding-block: 1em;
    width: 100%;
}

.orders form textarea{
    box-sizing: border-box;
    padding: 2em;
    width: 100%;
    resize: vertical;
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.orders .details{
    display: flex;
    padding-inline: 1em;
    align-items: center;
}

.tickets li{
    position: relative;
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(216, 216, 216);
    width: 100%;
    margin-bottom: 2em;
}

.tickets .details .buttons{
    float: right;
    margin-left: auto;
    margin-block: auto;
}

.details .buttons i{
    font-size: 1.3rem;
}

.details .buttons{
    padding: 1.2em 0em;
}

.orders .messages{
    padding: 1em;
    background-color: white;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.orders .messages, .orders form textarea{
    border: 1px solid rgb(196, 196, 196);
}

.orders p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.orders .messages .value{
    color: white;
    padding: 1em 1.5em;
    width: fit-content;
    white-space: pre-wrap;
}

.orders .messages .replier .value{
    background: linear-gradient(180deg, var(--button-color) 0%, rgb(8, 95, 207) 100%);
}

.orders .messages .poster .value{
    background: linear-gradient(180deg, rgb(131, 131, 131) 0%, rgb(114, 114, 114) 100%);
}

.orders .message{
    display: flex;
    flex-direction: column;
}

.orders .datetime{
    color:rgb(68, 68, 68);
}


.orders .ticket-info, .orders .ticket-status{
    display: flex;
    padding: 0.5em;
}

.orders .ticket-info .label{
    font-size: 1rem;
    display: flex;
    margin-right: 1em;
    padding-block: 0.5em;
}

.orders .ticket-info .value{
    margin-block: auto;
    background-color: rgb(172, 172, 172);
    color: white;
    border-radius: 5px;
    padding: 0.4em 1em;
}

.orders .messages .value{
    border-radius: 15px;
}

.orders .ticket-info .value{
    border: 1px solid rgb(196, 196, 196);
    font-size: 0.8rem;
}

.ticket-status .value, .ticket-status .label{
    font-size: 0.7rem;
    background: white;
    text-transform: uppercase;
    font-weight: bold;
    width: fit-content;
}

.ticket-status{
    width: fit-content;
    align-items: center;
}

.orders .ticket-status{
    padding-top: 0.25em;
    transform: translateY(-50%);
    position: absolute;
}

.poster{
    margin-left: auto;
    width: 70%;
}

.poster .author{
    margin-top: 2em;
    text-align: right;
}

.poster p{
    width: fit-content;
    margin-left: auto;
}

.replier{
    margin-right: auto;
    width: 70%;
}

.replier .author{
    margin-top: 2em;
    text-align: left;
}

.replier p{
    width: fit-content;
    margin-right: auto;
}

.status-reply{
    margin-block: 2em;
    position: relative;
    background: white;
    border: 4px solid var(--colour);
}

.status-reply::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--colour);
    opacity: 0.1;
}


.status-reply .alert{
    padding: 1em;
}

.update-status a{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--colour);
    text-decoration: none;
    position: relative;
    padding: 0.5em 1em;
    border: 2px solid var(--colour);
}

.update-status a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--colour);
    opacity: 0.1;
}

.status-pending{
    --colour: orange;
}

.status-responded{
    --colour: green;
}

.status-closed{
    --colour: rgb(46, 46, 46);
}

.status-resolved{
    --colour: rgb(18, 162, 167);
}

.status{
    padding: 0.5em 1em;
    border: 2px solid var(--colour) !important;
    color: var(--colour);
    position: relative;
    z-index: 1;
}

.ticket-status{
    width: 100%;
}

.status-messages{
    margin-right: 1.5em;
    margin-left: auto !important;
    --color:  rgb(46, 46, 46);
    padding: 0.5em 0.8em;
    margin-left: 1em;
    color: var(--color);
    border: 2px solid var(--color) !important;
    font-size: 0.6em !important;
}

.status::after{
    content: "";
    top: 0;
    left: 0;
    opacity: 0.1;
    background-color: var(--colour);
    position: absolute;
    width: 100%;
    height: 100%;
}


.ticket-status .right{
    display: flex;
    margin-left: auto !important;
}